<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>L8 | signin</title>
</head>
<body>

  <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="#0" class="navbar-item">
        <span class="title">L8</span>
      </a>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third"></div>
        <div class="column is-one-third">
          <form name="signin-form" class="form" id="form">
            <div class="field">
              <label for="userEmail" class="label">Email</label>
              <input
                type="email"
                id="userEmail"
                name="user_email"
                class="input control"
                placeholder="john.doe@example.com"
                required
              >
            </div>
            <div class="field ">
              <label for="userPwd" class="label">Password</label>
              <input
                type="password"
                id="userPwd"
                name="user_pwd"
                class="input control"
                placeholder="**..**"
                required
              >
            </div>

            <input type="submit" class="is-warning button is-fullwidth" value="Submit" name="submit_form">
          </form>
          <p id="changeFormHelperText">{{ change_form }}</p>
        </div>
      </div>

    </div>
  </section>

  <script src="src/index.js"></script>

</body>
</html>
